doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JS Memory Game
    body
        main(class="memory-game")
            h1 What is the brand?
            div(class="levels")
                button(type="button" class="item-80 start" data-level="easy") Fácil
                button(type="button" class="item-70 start" data-level="intermediary") Intermediário
                button(type="button" class="item-90 start" data-level="high") Díficil
            ul(class="list-cards")
                each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
                    li(class="card")
                        p(class="question") ?
